.SongsList__flex-container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 5px auto;

  animation-name: fade-up;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/****************** FADE-UP ANIMATION ***********/

@keyframes fade-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/****************** Media Query *****************/ 

@media screen and (min-width: 400px) {
  .SongsList__flex-container {
    width: 400px;
  }
}

@media screen and (min-width: 860px) {
  .SongsList__flex-container {
    width: 832px;
  }
}
