.spinner {
  display: block;
  margin: 20px auto;
  width: 40px;
  height: 40px;
}

.spinner circle {
  fill: transparent;
  /* stroke: #fe2d14; #651fff #5014fe #7b1fa2 */
  stroke: #651fff;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 125.6;
  transform-origin: 20px 20px 0;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 26.4;
  } 50% {
    transform: rotate(720deg);
    stroke-dashoffset: 125.6;
  } 100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 26.4;
  }
}