.Playlists__flex-container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 5px auto;

  animation-name: fade-up;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/****************** Media Query *****************/ 

@media screen and (min-width: 400px) {
  .Playlists__flex-container {
    width: 400px;
  }
}

@media screen and (min-width: 860px) {
  .Playlists__flex-container {
    width: 832px;
  }
}
