body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e4e4e4;
}

.center-text {
  text-align: center;
}


/****************** FADE-UP ANIMATION ***********/

@keyframes fade-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
