.AudioPlayer__container {
  position: sticky;
  top: 0;
  z-index: 500;
}

.AudioPlayer__tool-bar {
  z-index: 0;
}

.AudioPlayer__tool-bar h3 {
  color: #fff;
  margin: 0 0 15px 0;
}

.AudioPlayer__info {
  margin-left: 20px;
  width: 62%;
}

.AudioPlayer__info h2 {
  font-size: 16px;
  margin-top: 15px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.AudioPlayer__info h3 {
  font-size: 14px;
}

.AudioPlayer__fab {
  z-index: 1200;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1200;
}

.youTube-player {
  // display: flex;
  // position: absolute;
  // left: -150px;
}

/****************** Media Query *****************/ 

@media screen and (min-device-width: 480px) {
  .AudioPlayer__tool-bar {
    // padding-left: 75px !important;
  }
  .AudioPlayer__fab {
    position: absolute;
    bottom: -28px;
    right: 43px;
  }
}
